button[mat-raised-button]{
    width: 100%;
    height: 100%;
    display:block;
    background-color: rgb(91, 158, 91);
    font-size: 10rem;
}
button[mat-raised-button]:hover {
    background-color: green;
      
}
