 
    #content{
        width: 100%;
        background-color:#a7d0f6;
        
        mat-card-title{
           
            display: flex;
            justify-content: center;
        }
    }
    #opener{
       text-align: center;
       h1{
            padding: 1rem 1rem;
            background-color:rgba(104, 100, 100, 0.568);

            margin:1rem;
            border-radius: 3px;
            span{
                background-color: indianred;
                display: inline-block;
                padding: 0rem 0.5rem;
                border-radius: 3px;
            }
       }
       button[mat-raised-button]{
           font-size: 2rem;
           padding: 1rem;
           background-color: blue;
       }
    }

square{
    width: 100%;
    height: 100%;
}

#grid{
    margin-top: 1rem;
}
