 <mat-card id="content">
   <div id="opener">
     <mat-card-title>
      <h1>Current Player: {{currentPlayer}} </h1>
      <h1 *ngIf="winner">Winner: <span>{{winner}}</span></h1>
     </mat-card-title>
    <mat-card-actions>
      <button type="button" (click)="resetGame()" mat-raised-button color="warn"> Start New Game</button> 
    </mat-card-actions>
   </div>

  <main id="grid">
    <mat-grid-list cols="3" gutterSize="0.5rem" >
      <mat-grid-tile  *ngFor="let square of squares; let idx = index;"  >
        <square [value]="square.value" (click)="updateBoard(idx)"> </square>
      </mat-grid-tile>

    </mat-grid-list>
     </main> 
     
</mat-card>
 


