/*main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}
  
square {
    border: 1px gray solid;
    height: 200px;
}*/
:host{
    display: block;
    width: 42rem;
   
    margin: 1rem auto;
  
    
    #content{
        width: 100%;
        background-color:#a7d0f6;
        
        mat-card-title{
           
            display: flex;
            justify-content: center;
        }
    }
    #opener{
       text-align: center;
       h1{
            padding: 1rem 1rem;
            background-color:rgba(104, 100, 100, 0.568);

            margin:1rem;
            border-radius: 3px;
            span{
                background-color: indianred;
                display: inline-block;
                padding: 0rem 0.5rem;
                border-radius: 3px;
            }
       }
       button{
           font-size: 2rem;
           padding: 1rem;
       }
    }
  
}

square{
    width: 100%;
    height: 100%;
}
#grid{
    margin-top: 1rem;
}

mat-card-actions{
    button{
        background-color: blue;
    }
    
}