/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body{
    box-sizing: border-box; //keeps the size of the body the same when the padding is added
    padding-top: 1px;
    background-image: url(assets/body_imgs/body_back.jpg);
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 

    app-root{
        display: block;
        width: 42rem;
        margin: 1rem auto;
    }
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }